<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624208120378-hjdl5i62hk88u0knt2q167s9jnmoadjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624208120378-hjdl5i62hk88u0knt2q167s9jnmoadjq</string>
	<key>API_KEY</key>
	<string>AIzaSyAgnj66us9cLaPHBPcIo3QJYGkWG7xdtlg</string>
	<key>GCM_SENDER_ID</key>
	<string>624208120378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.sillykat.eve.sweet</string>
	<key>PROJECT_ID</key>
	<string>eve-echoes-tool-5474b</string>
	<key>STORAGE_BUCKET</key>
	<string>eve-echoes-tool-5474b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624208120378:ios:f3c2fc2f7a92bb87a44303</string>
	<key>DATABASE_URL</key>
	<string>https://eve-echoes-tool-5474b.firebaseio.com</string>
</dict>
</plist>